.statistics {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
  color: #555;
}

.statList {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: #f3f6f9;
  border-right: 1px solid #dfe6ec;
}

.item:last-child {
  border-right: none;
}

.label {
  display: block;
  font-size: 16px;
  color: #768696;
}

.percentage {
  font-size: 22px;
  font-weight: 700;
}
